h1{
    text-align: center;
    color:black;
    background-color: chartreuse;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    margin-left: 0px;
    margin-right: 0px;
   
        
   
}
head{
    
}
body{
    border-color: darkmagenta
    
    
}
html{
   
}
form{
    background-color: chartreuse
}